mos_username = ""
mos_password = ""
patch_id = ""

# AWS Variables
key_name = "terraform.pem"
key_path = "~/path/to/terraform.pem"

# Optional AWS Variables
# region = "" # Default is us-east-1
# instance_type = "" # Default is t2.large

# Number of Servers
# Default is 1
# servers = "1"