mos_username = ""
mos_password = ""
patch_id = ""
dpk_install = "/media/sf_dpks"

# AWS Variables
key_name = ""
key_path = ""

# Optional AWS Variables
region = "" # Default is us-east-1
instance_type = "" # Default is t2.medium