#cloud-config
hostname: ${machine_name}
preserve_hostname: false
fqdn: ${machine_name}.ec2.internal
ssh_pwauth: True
chpasswd:
 list: |
   ec2-user:${admin_password}
 expire: False

mounts:
  - [ ephemeral0, none, swap, sw, 0, 0 ]
 
bootcmd:
 - mkswap /dev/xvdb
 - swapon /dev/xvdb
